body {
    background-color: #dbd7d7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

footer {
    text-align: center;
    font-size: 85%;
    padding: 10px;
    line-height: 15px;
}

.border{
    min-width: 900px;
    position: relative;
    overflow: auto;
}

#banner{
    background-image: url(https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80);
    background-color: gray;
    padding:15px;
}



#menulist{
    padding: 0;
    position: relative;
    overflow: auto;
}

#menulist li{
    width: 165;
    float: left;
    background-color: grey;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#menulist li a{
    text-decoration: none;
    color: aliceblue;
}

#menulist li:hover{
    background-color: rgb(128, 60, 60);
}

h1, h2, h3{
    color: rgb(0, 23, 128);
}

#service-List{
    padding: 0;
    position: relative;
    overflow: auto;
}

.service-Items{
    width: 300px;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
    background-color: rgb(185, 185, 212);
}